@import "fonts";
@import "vars";
@import "global";

// #1C222C

// header start 
.header{
    background-color: #1C222C ;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 114px;
    }
    &__meeting{
        font-size: 12px;
        line-height: 19px;
        color: #fff;
        padding-left: 26px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/star.svg');
            width: 15px;
            height: 15px;
            left: 0;
            top: 3px;
        }
        a{
            color: $gold;
            text-decoration: underline;
        }
    }
    &__phones{
        color: #fff;
        padding-left: 45px;
        position: relative;
        max-width: 270px;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/phone.svg');
            width: 21px;
            height: 38px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__phone{
        font-size: 18px;
        line-height: 20px;
        span{
            font-size: 14px;
            color: #bdbdbd;
            margin-left: 5px;
        }
    }
}
.menu{
    color: #8d9095;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        background-image: url('../images/icons/header-line.svg');
        right: -20px;
        top: -20px;
        width: 32px;
        height: 114px;
    }
    &__list{
        margin-bottom: 21px;
    }
    &__list-item{
        display: inline-block;
        & + .menu__list-item{
            margin-left: 35px;
        }
        
    }
    &__list-item--dropdown{
        padding-right: 15px;
        position: relative;
            &:hover{
                .menu__dropdown{
                    // transform: translateY(0%);
                    opacity: 1;
                    z-index: 100;
                }
            }
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/down-arrow.svg');
            width: 5px;
            height: 5px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s;
        }
     
      
    }
    &__dropdown{
        opacity: 0;
        // transform: translateY(-300%);
        transition: all 0.3s;
        display: block;
        position: absolute;
        background-color: #1C222C;
        width: 100px;
        padding: 10px;
        z-index: -1;
    }
    &__dropdown-item{
        margin-top: 10px;
        a{
            display: block;
        }
    }
}
// header end




// top start 
.top{
    position: relative;
    &__slider{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background: linear-gradient(77.61deg, rgba(13, 18, 27, 1) 0%, rgba(0, 0, 0, 1) 128.26%), linear-gradient(77.61deg, rgba(50, 50, 50, 0.7) 0%, rgba(50, 50, 50, 0) 128.26%);
            filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.9));
            height: calc(100vh - 114px);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
            z-index: 1;
        }
    }
    &__slider-item{
        max-width: 1920px;
        height: calc(100vh - 114px);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        img{
            width: 100%;
        }
    }

    &__wrapper{
    }
    &__inner{
        position: absolute;
        color: #fff;
        top: 0;
        bottom: 0;
        z-index: 10;
    }
    &__title{
        padding-top: 100px;
        @include futura;
        font-size: 48px;
        line-height: 68px;
        text-transform: uppercase;
        max-width: 701px;
        margin-bottom: 50px;
        letter-spacing: 1px;
        span{
            color: $gold;
        }
    }
    &__form{
        max-width: 650px;   
        margin-bottom: 146px;
        form{
            font-size: 16px;
            line-height: 29px;
            label{
                margin-right: 15px;
                
            }
            input{
                width: 210px;
                background-color: transparent;
                border: none;
                color: #fff;
                &::placeholder{
                    color: #fff;
                }
            }
        }
    }
    &__form-phone{
        border-bottom: 1px solid $gold;
        width: 300px;
        display: inline-block;
        margin-right: 45px;
        padding-bottom: 17px;
    }
    &__form-descr{
        font-size: 18px;
        color: #FAFBFC;
        padding-left: 100px;
        position: relative;
        margin-bottom: 42px;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/flash.png');
            width: 77px;
            height: 84px;
            left: 0;
            top: -8px;
        }
        span{
            color: $gold;
            font-weight: 700;
        }
    }
    &__list{
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: start;
    }
    &__list-item{
        display: inline-block;
        padding-left: 56px;
        position: relative;
        max-width: 296px;
        & + .top__list-item{
            margin-left: 80px;
        }
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/check.svg');
            width: 34px;
            height: 33px;
            left: 0;
            top: 10px;
            transform: translateY(-50%);
            
        }
        
    }
    .slick-slider{
        height: calc(100vh - 114px);
    }
}
.slick-dots{
    position: absolute;
    font-size: 0;
    right: 270px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    li{
        border: none;
        width: 10px;
        height: 10px;
        & + li{
            margin-top: 27px;
        }
        &.slick-active{
            button{
                background-color: $gold;
            }
        }
    }
    button{
        width: 10px;
        height: 10px;
        border: 1px solid $gold;
        background-color: transparent;
        padding: 0;
        outline: none;
        cursor: pointer;
    }
    
}
// top end 
 
// advantages start

.advantages{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1168px;
    position: relative;
    // opacity: 0.05;
    border: 1px solid #000000;
    &::before{
        content: '';
        position: absolute;
        background: linear-gradient(69.85deg, rgba(0, 0, 0, 0.96) 0%, rgba(26, 29, 35, 0.96) 100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.95;
    }
  
    &__wrapper{
        z-index: 1000;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__inner{
        padding-top: 130px;
    }
    &__title{
        max-width: 770px;
        margin-bottom: 27px;
    }
    &__subtitle{
        margin-bottom: 85px;
    }
    &__items{
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item{
        padding-left: 74px;
        position: relative;
        max-width: 626px;
        margin-bottom: 48px;
        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            left: 0;
            top: -10px;
            width: 108px;
            height: 104px;
        }
        &--clock{
            &::before{
                background-image: url('../images/icons/clock.png');
            }
        }
        &--globe{
            &::before{
                background-image: url('../images/icons/globe.png');
            }
        }
        &--marker{
            &::before{
                background-image: url('../images/icons/marker.png');
            }
        }
        &--house{
            &::before{
                background-image: url('../images/icons/house.png');
            }
        }
        &--design{
            &::before{
                background-image: url('../images/icons/design.png');
            }
        }
    }
    &__btn{
        color: #000000;
        margin-top: 52px;
        margin-right: 280px;
    }
}

// advantages end 



// project start 
.project{
    background-position: center center;
    background-size: cover;
    min-height: 2318px;
    &__inner{
        padding-top: 134px;
    }
    &__title{
        max-width: 962px;
    }
    &__subtitle{
        margin-bottom: 32px;
    }
    &__items{
        counter-reset: number;
    }
    &__item{
       
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &:nth-child(even){
            .project__img{
                order: -1;
            }
        }
    }
    &__descr{
        max-width: 600px;
        position: relative;
        padding-left: 62px;
        &::before{
            content:  counter(number);
            position: absolute;
            counter-increment: number;
            left: -10px;
            font-size: 110px;
            line-height: 141px;
            text-transform: uppercase;
            @include futura;
            color: #F1C78E;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        &:nth-child(n+6)::before{
            content: counter(number);
        }
    }
    &__item-title{
        font-weight: 600;
        line-height: 29px;
        font-size: 18px;
    }
    &__img{
        max-width: 630px;
        height: 334px;
        img{
            width: 100%;
            filter: drop-shadow(0px 10px 24px rgba(49, 49, 55, 0.12));
        }
        
    }
}
// end start 

// meeting start
.meeting{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    &__inner{
        min-height: 801px;
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
    }
    &__descr{
        max-width: 630px;
    }
    &__title{

    }
    &__subtitle{
        line-height: 34px;
        margin-bottom: 38px;
    }
    .top__form{
        color: $dark;
        input{
            color: $dark;
            &::placeholder{
                color: #828282;
            }
        }
    }
    &__form-descr{
        margin-bottom: 40px;
        span{
            font-weight: 600;
        }
    }
    &__info{
        display: flex;
    }
    &__man{
        max-width: 271px;
        margin-right: 47px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/architect-bg-line.svg');
            background-size: cover;
            width: 770px;
            height: 561px;
            left: 50%;
            top: 50%;
            transform: translate(-44%, -60%);
            box-shadow: none;
            z-index: -1;
        }
    }
    &__man-img{
        max-width: 263px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/architect-bg.svg');
            width: 300px;
            height: 214px;
            bottom: 11px;
            right: 0;
            z-index: -1;
        }
        
        img{
            width: 100%;

        }
        
    }
    &__man-name{
        font-size: 30px;
        line-height: 51px;
        font-weight: 600;
    }
    &__man-position{
        font-weight: 600;
        font-size: 20px;    
        line-height: 34px;
        color: #F1C78E;
    }
    &__list{
        padding-top: 170px;
        max-width: 247px;
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
    }
    &__list-item{
        padding-left: 37px;
        position: relative;
        & + .meeting__list-item{
            margin-top: 10px;
        }
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/check-grey.svg');
            width: 23px;
            height: 22px;
            left: 0;
            top: 0;
        }
    }
} 
// meeting end 



// sample start 
.sample{
    min-height: 667px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background-color: #FAFCFF;
        opacity: 0.96;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    &__wrapper{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    &__inner{
        padding-top: 120px;
        margin-bottom: 60px;
    }
    &__title{
        margin-bottom: 60px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 300px;
        font-weight: 600;
        position: relative;
        min-height: 288px;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/sample-item-bg.svg');
            background-size: cover;
            width: 300px;
            height: 288px;
            z-index: -1;
            right: 0;
            bottom: 0;
        }
    }
    &__item-img{
        width: 300px;
        margin-bottom: 30px;
        img{
            object-fit: cover;
            width: 100%;
            height: 167px;
        }
    }
    &__item-title{
        font-size: 18px;
        line-height: 29px;
        max-width: 240px;
        margin-bottom: 10px;
    }
    &__item-link{
        color: #F1C78E;
        padding-right: 31px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/arrow-right.svg');
            width: 20px;
            height: 8px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}
// sample end 




// portfolio start 
.portfolio{
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1468px;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:  linear-gradient(69.85deg, rgba(0, 0, 0, 0.93) 0%, rgba(26, 29, 35, 0.93) 100%);
    }
    &__wrapper{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    &__inner{
        padding-top: 120px;
        color: #fff;
    }
    &__title{
        text-transform: uppercase;
        max-width: 911px;
        margin-bottom: 70px;
        span{
            color: $gold;
        }
    }
    &__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        width: 630px;
        min-height: 467px;
        position: relative;
        margin-bottom: 80px;
            &:hover{
                .portfolio__item-wrapper{
                    opacity: 0.3;
                    transition: all 0.3s;
                }
                .portfolio__item-btn{
                    opacity: 1;
                    transition: all 0.3s;
                } 
            }
        
    }
    &__item-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        transition: all 0.3s;
    }
    &__item-img{
        max-width: 630px;
        margin-left: -22px;
        img{
            height: 353px;
            width: 100%;
        }
    }
    &__item-btn{
        position: absolute;
        top: 150px;
        left: 50%;
        z-index: 2;
        color: $dark;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.3s;
        &::before{
            z-index: 1;
        }
    }  
    &__item-title{
        font-size: 18px;
        line-height: 29px;
        font-weight: 600;
        span{
            color:$gold;
        }
    }
    &__item-tags{
        li{
            display: inline-block;
            margin-right: 5px;
        }
    }
}
// portfolio end




// facts start
.facts{
    background-color: #000;
    &__inner{
        padding-top: 120px;
        color: #fff;
    }
    &__title{
        max-width: 800px;
        margin-bottom: 66px;
        margin-bottom: 66px;
        span{
            font-size: 20px;
            line-height: 34px;
            display: block;
            font-weight: 600;
        }
    }
    &__box{
        display: flex;
        justify-content: space-between;
    }
    &__team{

    }
    &__team-practice{
        width: 377px;
        font-size: 60px;
        line-height: 77px;
        @include futura;
        color: $gold;
        margin-bottom: 50px;
        span{
            font-size: 18px;
            line-height: 25px;
            color: #fff;
            max-width: 130px;
            display: inline-block;
            margin-left: 25px;
        }
    }
    &__btn{
        margin-top: 50px;
        color: $dark;
        &::after{
            z-index: 1;
        }
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        max-width: 720px;
    }
    &__item{
        width: 331px;
        padding-left: 80px;
        position: relative;
        margin-bottom: 50px;
        &:nth-child(odd){
            margin-right: 54px;
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: -20px;
            width: 108px;
            height: 104px;
        }
        &--cycle{
            &::before{
                background-image: url('../images/icons/cycle.svg');
            }
        }
        &--diamond{
            &::before{

                background-image: url('../images/icons/diamond.svg');
            }
        }
        &--rudder{
            &::before{

                background-image: url('../images/icons/rudder.svg');
            }
        }
        &--hearts{
            &::before{

                background-image: url('../images/icons/hearts.svg');
            }
        }
    }
    &__item-title{
        font-size: 18px;
        line-height: 29px;
        font-weight: 600;
    }
}

// facts end


// team start 
.team{
    min-height: 622px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(69.85deg, rgba(0, 0, 0, 0.93) 0%, rgba(26, 29, 35, 0.93) 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
    }
    &__wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__inner{
        padding-top: 120px;
        color: #fff;

    }
    &__title{
        margin-bottom: 80px;
    }
    &__card{
        max-width: 300px;
        margin-left: 10px;
    }
    &__card-name{
        font-size: 18px;
        line-height: 29px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__card-position{
        margin-bottom: 5px;
        color: $gold;
    }
    &__slider{
        position: relative;
    }
}
.slick-arrow{
    
}
.slider__btn{
    position: absolute;
    background: url('../images/icons/arrow-right.svg');
    width: 80px;
    height: 22px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    top: -100px;
    cursor: pointer;
    outline: none;
    button{
        border: none;

    }
    &--right{
        right: 0;
    }
    &--left{
        transform: rotate(180deg);
        right: 220px;
    }
}
// team end




// guarantee start 
.guarantee{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1102px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #FAFCFF;
        opacity: 0.96;
    }
    &__wrapper{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    &__inner{
        padding-top: 120px;
        display: flex;
        justify-content: space-between;
    }
    &__text{
        max-width: 770px;
    }
    &__title{
        max-width: 770px;
        margin-bottom: 70px;
    }
    &__list{

    }
    &__item{
        padding-left: 190px;
        margin-bottom: 40px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 136px;
            height: 130px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            left: 0;
            top: 0;
            z-index: -1;
        }
        &--contract{
            &::before{

                background-image: url('../images/icons/contract.png');
            }
        }
        &--lock{
            &::before{

                background-image: url('../images/icons/lock.png');
            }
        }
        &--shield{
            &::before{

                background-image: url('../images/icons/shield.png');
            }
        }
        &--alarm-clock{
            &::before{

                background-image: url('../images/icons/alarm-clock.png');
            }
        }
    }
    .meeting__info{
        display: block;
    }
    .meeting__man{
        margin-bottom: 30px;
        &::before{
            display: none;
        }
    }
    .meeting__man-img{
        &::before{
            background-image: url('../images/icons/architect-bg2.png') ;
            width: 410px;
        }
    }
    .meeting__list{
        padding-top: 0;
        margin-bottom: 30px;
        max-width: 300px;
    }
}
// guarantee end 



// report start 
.report{
    min-height: 854px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(69.85deg, rgba(0, 0, 0, 0.93) 0%, rgba(26, 29, 35, 0.93) 100%);
    }
    &__wrapper{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    &__inner{
        padding-top: 120px;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    &__text{
        max-width: 704px;
    }
    &__title{
        max-width: 630px;
        margin-bottom: 20px;
    }
    &__subtitle{
        max-width: 630px;
        margin-bottom: 80px;
    }
    &__item{ 
        padding-left: 82px;
        position: relative;
        margin-bottom: 50px;
        &::before{
            content: '';
            position: absolute;
            width: 108px;
            height: 104px;
            left: 0;
            top: -10px;
        }
        &--report{
            &::before{
                background-image: url('../images/icons/report.svg');
            }
        }
        &--builder{
            &::before{
                background-image: url('../images/icons/builder.svg');
            }
        }
    }
    &__item-title{
        font-size: 18px;
        line-height: 29px;
        font-weight: 600;
    }
    &__img{
        max-width: 516px;
        img{
            width: 100%;
        }
    }
}
// report end 